* {
    font-family: 'Lato', 'Arial', sans-serif;
}

body {
    color: #616f77;
    font-size: 14px;
    background: #e7eaeb;
    line-height: 1.42857143;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -ms-overflow-style: scrollbar;
}

a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #337ab7;
}

a:focus, a:hover {
    color: #23527c;
}

a:active, a:hover {
    outline: 0;
}

b, strong {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*
|--------------------------------------
| HEADER
|--------------------------------------
*/

.header-page {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    position: fixed;
    background: #51445f;
}

.header-page .branding {
    width: 250px;
    height: 45px;
    padding: 0 15px;
    background: #493d55;
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

.branding a {
    color: #FFF;
    height: 45px;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 45px;
    padding-left: 30px;
    text-decoration: none;
    background: url(/images/logo-admin.png) no-repeat 0 10px;
}

.header-page .profile-menu {
    margin-right: 5px;
}

.header-page .profile-menu > a {
    font-size: 12px;
    line-height: 45px;
    position: relative;
    padding: 0 15px 0 10px;
    color: rgba(255, 255, 255, 0.7);
}

.header-page .profile-menu > a:hover {
    color: #FFF;
}

.profile-menu > a > span {
    padding: 0 10px;
}

/*
|--------------------------------------
| SIDEBAR LEFT
|--------------------------------------
*/

.sidebar-left {
    top: 45px;
    bottom: 0;
    z-index: 21;
    width: 250px;
    position: fixed;
    background: #493d55;
}

.sidebar-left .main-menu {
    padding: 15px 0;
    background: #493d55;
}

.main-menu > ul > li {
    margin: 0;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.main-menu > ul > li > a {
    display: block;
    font-weight: 700;
    position: relative;
    padding: 12px 15px;
}

.main-menu > ul > li a {
    font-size: 13px;
    user-select: none;
    position: relative;
    transition: all 0.2s linear;
    color: rgba(255, 255, 255, 0.5);
}

.main-menu > ul > li.open > a,
.main-menu > ul > li:hover > a {
    color: #FFF;
    background: rgba(0, 0, 0, 0.2);
}

.main-menu > ul > li.active > a {
    color: #FFF !important;
    background: #16a085 !important;
}

.main-menu > ul > li:hover > a {
    color: #FFF;
    background: rgba(0, 0, 0, 0.2);
}

.main-menu > ul > li > a > i {
    width: 20px;
    line-height: 1;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    transition: all 0.1s linear;
}

.main-menu > ul ul {
    display: none;
    margin: 0 1px;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.15);
}

.main-menu > ul > li.active ul {
    display: block;
}

.main-menu > ul ul li > a {
    font-size: 12px;
    display: block;
    position: relative;
    padding: 8px 0 8px 30px;
}

.main-menu > ul ul li:hover > a,
.main-menu > ul ul li.active > a {
    color: #16a085;
}

.main-menu > ul ul li > a > i {
    margin-right: 15px;
}

.main-menu > ul > li > a > i.caret {
    top: 50%;
    right: 0;
    font-size: 10px;
    margin-top: -5px;
    position: absolute;
}

.main-menu > ul > li.open > a > i.caret:last-of-type:before {
    content: "\f068";
}

/*
|--------------------------------------
| CONTENT
|--------------------------------------
*/

.content {
    right: 0;
    bottom: 0;
    top: 45px;
    z-index: 1;
    width: auto;
    left: 250px;
    padding: 20px;
    position: absolute;
}

.content .header-content {
    margin-bottom: 30px;
}

.content .header-content h1 {
    color: #4a555b;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

/*
|--------------------------------------
| TILE
|--------------------------------------
*/

.tile {
    opacity: 1;
    color: #616f77;
    position: relative;
    margin-bottom: 20px;
    background-color: white;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
}

.tile .header-tile {
    padding: 8px 15px;
    position: relative;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.header-tile h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}

.tile .header-tile .controls {
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
}

.tile .header-tile .controls > a {
    height: 100%;
    color: #95a2a9;
    display: block;
    min-width: 42px;
    line-height: 43px;
    text-align: center;
    padding: 0 15px 0 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.tile .header-tile .controls.settings > a {
    padding: 0;
}

.tile .header-tile .controls > a:hover {
    color: #616f77;
}

.tile .header-tile .controls > a > i {
    width: 14px;
    margin-right: 3px;
}

.tile .header-tile .controls.settings > a > i {
    margin-right: 0;
}

.tile .header-tile .controls .drop-down-menu {
    right: 0;
    left: auto;
    margin-top: 2px;
}

.tile .body-tile {
    padding: 15px;
}

.tile .footer-tile {
    padding: 15px;
    margin: 0 -15px -15px;
    background: rgba(0, 0, 0, 0.03);
}


/* Build Form */
#build-form .form-item > .label-field {
    display: flex;
    background: #FFF;
    text-align: center;
    white-space: nowrap;
    padding: 0.65em 0.5em;
    text-overflow: ellipsis;
    justify-content: center;
    outline: 2px dashed #ccc;
    border: .5em solid rgba(233, 233, 225, 0.7);
}

#build-form .form-item > .label-field .remove {
    margin-left: 15px;
}

.body-tile.form .message {
    margin-bottom: 0;
}
