@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url(/fonts/Lato-Light.woff);
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url(/fonts/Lato-Regular.woff);
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url(/fonts/Lato-Bold.woff);
}