.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -2.12766%;
}

.row.centered {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.row.centered .col {
    padding-left: 1.06383%;
    padding-right: 1.06383%;
}

.row.right {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.row.bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.row.around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.row.between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.row.equal .col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.row.equal .col > div {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.row.splice {
    margin-left: 0;
}

.row.splice .col {
    padding-left: 0;
}

.col {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
    padding-left: 2.12766%;
}

.col.first {
    order: -1;
}

.col.last {
    order: 1;
}

.pull-right {
    margin-left: auto;
}

.col-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
}

.col-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
}

.col-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
}

.col-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
}

.col-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
}

.col-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
}

.col-9 {
    flex-basis: 75%;
    max-width: 75%;
    width: 75%;
}

.col-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
}

.col-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

.row-layout {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.col-fluid {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 100%;
}

.row-layout.middle, .row.middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.hidden {
    display: none !important;
}

.right {
    text-align: right !important;
}
