.pager-wrap {
    padding: 15px;
}

.pager-wrap .pager-info {
    color: #616f77;
    font-size: 12px;
    line-height: 29px;
}

ul.pagination {
    white-space: nowrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

ul.pagination > li > a,
ul.pagination > li > span {
    color: #337ab7;
    display: block;
    font-size: 12px;
    background: #FFF;
    padding: 5px 10px;
    margin-left: -1px;
    line-height: 1.42857;
    text-decoration: none;
    border: 1px solid #e4e7e9;
}

ul.pagination li.active span {
    color: #FFF;
    cursor: default;
    background: #337AB7;
    border-color: #337AB7;
}

.pagination > li > a:hover {
    color: #23527C;
    border-color: #DDD;
    background: #f2f3f4;
}

.pagination li.disabled span {
    color: #777;
    cursor: not-allowed;
}
