[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    z-index: 1;
    right: 50%;
    color: #FFF;
    height: 27px;
    bottom: 100%;
    font-size: 11px;
    padding: 0 10px;
    line-height: 27px;
    text-shadow: none;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 6px;
    position: absolute;
    text-align: center;
    background: #2D2D2D;
    white-space: nowrap;
    outline: 1px solid #FFF;
    box-sizing: border-box;
    transform: translateX(50%);
    content: attr(data-tooltip);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

[data-tooltip]:before {
    top: -6px;
    right: 50%;
    z-index: 2;
    content: "";
    position: absolute;
    transform: translateX(50%);
    border: 5px solid transparent;
    border-top-color: #2D2D2D;
}

[data-tooltip]:after,
[data-tooltip]:before {
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility 0.05s ease 0.2s;
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    opacity: 1;
    visibility: visible;
}

i.bottom[data-content]:after {
    top: 100%;
    margin-top: 5px;
}

i.bottom[data-content]:before {
    bottom: -6px;
    border-color: transparent transparent #000;
}

i.info[data-content] {
    cursor: help;
}